* {
    padding: 0%;
    margin: 0%;
    font-size: 10px;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
}
.calculator {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    height: 80rem;
    width: 80rem;
    border: solid black .5rem;
    flex-wrap: wrap;
}
.numBtn {
    width: 18.2rem;
    height: 12.5rem;
    font-size: 2rem;
}
.opBtn, .decBtn {
    width: 18.2rem;
    height: 12.5rem;
    font-size: 2rem;
}
.clearBtn {
    width: 18.2rem;
    height: 12.5rem;
    font-size: 2rem;
}
.eqBtn {
    height: 8rem;
    width: 75rem;
    font-size: 2rem;
    margin-bottom: 2rem; 
}
.calcDisplay {
    background-color: #a3a78d;
    width: 75rem;
    height: 10rem;
    text-align: right;
    margin-top: 2rem;
}
.displayChar {
    font-size: 8rem;
    margin: .5rem;
}